/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
mall,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
  ========================================
  Custom styles
  ========================================
*/

body {
    background: #293f50;
    color: rgb(0, 0, 0);
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container,
.grid {
    margin: 0 auto;
    width: 960px;
}

.grid form {
    text-align: center;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1250px;
}

.grid,
.col-1-3,
.col-2-3 {
    padding-left: 15px;
    padding-right: 15px;
}

.col-1-3,
.col-2-3 {
    display: inline-block;
    vertical-align: top;
}

.col-1-3 {
    width: 33.33%;
}

.col-2-3 {
    width: 66.66%;
}


/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    clear: both;
    *zoom: 1;
}


/*
  ========================================
  Rows
  ========================================
*/

.row,
.row-alt {
    min-width: 960px;
}

.row {
    background: #fff;
    padding: 66px 0 44px 0;
}

.row-alt {
    background: #2b3d23;
    background: -webkit-linear-gradient(to right, #a1d3b0, #e4debe);
    background: -moz-linear-gradient(to right, #a1d3b0, #e4debe);
    background: linear-gradient(to right, #a1d3b0, #e4debe);
    padding: 44px 0 22px 0;
}


/*
  ========================================
  Typography
  ========================================
*/

h1,
h2,
h3,
h4,
p {
    color: #060808;
}

h1,
h3,
h4,
h5,
p {
    font-style: Helvetica;
    margin-bottom: 22px;
}

h1 {
    font-size: 36px;
    line-height: 44px;
}

h2 {
    font-size: 24px;
    line-height: 44px;
}

h5 {
    color: #113a69;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

strong {
    font-weight: 400;
}

cite,
em {
    font-style: italic;
}


/*
  ========================================
  Leads
  ========================================
*/

.lead {
    text-align: center;
}

.lead p {
    font-size: 21px;
    line-height: 33px;
}


/*
  ========================================
  Links
  ========================================
*/

a {
    color: #648880;
    text-decoration: none;
}

a:hover {
    color: #a9b2b9;
}

p a {
    border-bottom: 1px solid #dfe2e5;
}

.primary-header a,
.primary-footer a {
    color: #fff;
}

.primary-header a:hover,
.primary-footer a:hover {
    color: #648880;
}

.primary-header2 a,
.primary-footer2 a {
    color: #fff;
}

.primary-header2 a:hover,
.primary-footer2 a:hover {
    color: #648880;
}


/*
  ========================================
  Buttons
  ========================================
*/

.btn {
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
}

.btn-alt {
    border: 1px solid #fff;
    padding: 10px 30px;
}

.btn-alt:hover {
    background: #fff;
    color: #648880;
}


/*
  ========================================
  Primary header
  ========================================
*/

.logo {
    border-top: 4px solid #648880;
    float: left;
    font-size: 48px;
    font-weight: 100;
    letter-spacing: .5px;
    line-height: 44px;
    padding: 40px 0 22px 0;
    text-transform: uppercase;
}

.tagline {
    margin: 66px 0 22px 0;
    text-align: right;
}

.primary-nav {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
}


/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer {
    color: #fff;
    font-size: 15px;
    padding-bottom: 44px;
    padding-top: 44px;
}

.primary-footer small {
    float: left;
    font-weight: 400;
}

.primary-footer2 {
    color: #648880;
    font-size: 15px;
    padding-bottom: 44px;
    padding-top: 44px;
}

.primary-footer2 small {
    float: left;
    font-weight: 400;
}


/*
  ========================================
  Navigation
  ========================================
*/

.nav {
    text-align: right;
}

.nav li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}

.nav li:last-child {
    margin-right: 0;
}


/*
  ========================================
  Home
  ========================================
*/

.hero {
    color: #fff;
    line-height: 44px;
    padding: 22px 80px 66px 80px;
    text-align: center;
}

.hero p {
    font-size: 24px;
    font-weight: 100;
}

.teaser a:hover h3 {
    color: #000000;
}

.teaser a:hover p {
    color: #698385;
}

.teaser img {
    border-radius: 5px;
    display: block;
    margin-bottom: 22px;
    max-width: 100%
}

.containerz {
    display: flex;
    align-items: center;
    justify-content: center
}

img {
    max-width: 100%
}

.imagez {
    flex-basis: 90%;
    padding-left: 20px;
}

.textz {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}